.flex {
  display: flex;
  &-column {
    flex-direction: column;
  }
  &-wrap {
    flex-wrap: wrap;
  }
  &-jc-sb {
    justify-content: space-between;
  }
  &-jc-sa {
    justify-content: space-around;
  }
  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }
  &-as-s {
    align-self: flex-start;
  }
}

@each $abbr, $name in ("flex": "flex") {
  @for $i from 1 through 6 {
    .#{$abbr}-#{$i} {
      #{$name}: $i;
    }
  }
}

@each $abbr, $name in ("gap": "gap") {
  @for $i from 1 through 25 {
    @if $i<=10 {
      .#{$abbr}-#{$i} {
        #{$name}: 0.25rem * $i;
      }
    } @else if $i%5==0 {
      .#{$abbr}-#{$i} {
        #{$name}: 0.25rem * $i;
      }
    }
  }
}

@each $name, $size in $breakpoints {
  @include mq($size) {
    .#{$name}\:flex {
      display: flex !important;
    }
    .#{$name}\:flex-wrap {
      flex-wrap: wrap !important;
    }
    .#{$name}\:flex-row {
      flex-direction: row !important;
    }
    .#{$name}\:flex-column {
      flex-direction: column !important;
    }
    .#{$name}\:flex-d-cr {
      flex-direction: column-reverse !important;
    }
    .#{$name}\:flex-jc-s {
      justify-content: flex-start !important;
    }
    .#{$name}\:flex-jc-c {
      justify-content: center !important;
    }
    .#{$name}\:flex-jc-sb {
      justify-content: space-between !important;
    }

    @each $abbr, $property in ("flex": "flex") {
      @for $i from 1 through 5 {
        .#{$name}\:#{$abbr}-#{$i} {
          #{$property}: $i;
        }
      }
    }
  }
}
