.container {
  max-width: 1200px;
  margin: 0 auto;
}
.border {
  border: 1px solid #dfe0eb;
}
.border-bottom {
  border-bottom: 1px solid #e0e0e0;
}
.rounded {
  border-radius: 2px;
}
.full-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cursor-pointer {
  cursor: pointer;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.hidden {
  display: none;
}

.invisible {
  opacity: 0;
}

//backgrounds
