.container {
  margin: 0 auto;
}

//Borders
@each $abbr,
  $name
    in (
      "border": "border",
      "border-t": "border-top",
      "border-b": "border-bottom",
      "border-l": "border-left",
      "border-r": "border-right"
    )
{
  .#{$abbr} {
    #{$name}: 2px solid #e1e1e1;
  }
}
//Increments by 2
@for $i from 1 through 10 {
  .rounded-#{$i} {
    border-radius: math.div(1rem * $i, 8);
  }
}

.full-round {
  border-radius: 50%;
}

.full-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cursor-pointer {
  cursor: pointer;
}

//Visibility
.hidden {
  display: none !important;
}

.invisible {
  opacity: 0;
}

//backgrounds
// .bg-gray-100 {
//   background: $gray-100;
// }

@each $name, $size in $breakpoints {
  @include mq($size) {
    .container {
      max-width: $size;
    }
  }
}

@each $name, $size in $breakpoints {
  @include mq($size) {
    @each $abbr,
      $property
        in (
          "border": "border",
          "border-t": "border-top",
          "border-b": "border-bottom",
          "border-l": "border-left",
          "border-r": "border-right"
        )
    {
      .#{$name}\:#{$abbr} {
        #{$property}: 2px solid #e1e1e1;
      }
    }
  }
}

.block{
  display: block;
}

@each $name, $size in $breakpoints {
  @include mq($size) {
    .#{$name}\:relative {
      position: relative;
    }

    .#{$name}\:absolute {
      position: absolute;
    }

    .#{$name}\:fixed {
      position: fixed;
    }
    .#{$name}\:block {
      display: block !important;
    }
    .#{$name}\:hidden {
      display: none;
    }
  }
}

@for $i from 1 through 9 {
  .opacity-#{$i} {
    opacity: math.div($i, 10);
  }
}
