//Margins and Paddings
@each $abbr,
  $name
    in (
      "p": "padding",
      "px": "padding-inline",
      "py": "padding-block",
      "pt": "padding-top",
      "pb": "padding-bottom",
      "pl": "padding-left",
      "pr": "padding-right",
      "m": "margin",
      "mx": "margin-inline",
      "my": "margin-block",
      "mt": "margin-top",
      "mb": "margin-bottom",
      "ml": "margin-left",
      "mr": "margin-right"
    )
{
  @for $i from 1 through 25 {
    .#{$abbr}-#{$i} {
      #{$name}: 0.25rem * $i !important;
    }
  }
}

//Height and width
@each $abbr, $name in ("h": "height", "w": "width") {
  @for $i from 1 through 6 {
    @for $j from $i + 1 through 6 {
      .#{$abbr}-#{$i}\/#{$j} {
        #{$name}: math.div(100% * $i, $j) !important;
      }
    }
  }
}

.mw-full {
  min-width: 100%;
}

.max-width {
  max-width: 100%;
}
.w-full {
  width: 100%;
}

.w-screen {
  width: 100vw;
}

.h-full {
  height: 100%;
}

.h-screen {
  height: 100vh;
}

//Z-index

@each $abbr, $name in ("z": "z-index") {
  @for $i from 1 through 10 {
    .#{$abbr}-#{$i} {
      #{$name}: 10 * $i !important;
    }
  }
}

@each $name, $size in $breakpoints {
  @include mq($size) {
    @each $abbr,
      $property
        in (
          "p": "padding",
          "px": "padding-inline",
          "py": "padding-block",
          "pt": "padding-top",
          "pb": "padding-bottom",
          "pl": "padding-left",
          "pr": "padding-right",
          "m": "margin",
          "mx": "margin-inline",
          "my": "margin-block",
          "mt": "margin-top",
          "mb": "margin-bottom",
          "ml": "margin-left",
          "mr": "margin-right"
        )
    {
      @for $i from 0 through 20 {
        .#{$name}\:#{$abbr}-#{$i} {
          #{$property}: 0.25rem * $i !important;
        }
      }
    }
  }
}

@each $name, $size in $breakpoints {
  @include mq($size) {
    @each $abbr, $property in ("h": "height", "w": "width") {
      @for $i from 1 through 6 {
        @for $j from $i + 1 through 6 {
          .#{$name}\:#{$abbr}-#{$i}\/#{$j} {
            #{$property}: math.div(100% * $i, $j) !important;
          }
        }
      }
    }

    .#{$name}\:mw-full {
      min-width: 100%;
    }

    .#{$name}\:w-full {
      width: 100%;
    }
  }
}
