//default
.text {
}

//Headers
.sm-header {
}

.md-header {
}

.xl-header {
}

//Sizes
.text-xxs {
  font-size: 0.625rem !important; //10px
}

.text-xs {
  font-size: 0.75rem !important; //12px
}

.text-s {
  font-size: 0.875rem !important; //14px
}

.text-md {
  font-size: 1rem !important; //16px
}

.text-xl {
  font-size: 1.25rem !important; //20px
}
.text-xxl {
  font-size: 1.5rem !important; //24px
}
.text-xxxl {
  font-size: 2rem !important; //32px
}

//Text Align
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

//Font-weight
.bold {
  font-weight: bold !important;
}
.normal {
  font-weight: normal !important;
}

.italic {
  font-style: italic;
}

//Add colors Here
