.sm-header {
}

.md-header {
}

.xl-header {
}

//default
.label {
}

.text-xs {
  font-size: 0.75rem !important; //12px
}
.text-sm {
  font-size: 0.875rem !important; //14px
}

.text-md {
  font-size: 1rem !important; //16px
}

.text-xl {
  font-size: 1.5rem !important; //20px
}

//Add colors Here
