//Fonts
// @font-face {
//   font-family: ;
//   font-style: normal;
//   font-weight: normal;
//   src: url("../../assets/fonts/MullerBold.ttf");
// }
//Colors
$black:black;
//Responsiveness
$breakpoints: (
  sm: 480px,
  md: 768px,
  lg: 1024px,
  xl: 1310px,
);
